<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myproject.vivi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.myproject.vivi.activity.StartActivity"
            android:label="时间轴" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.myproject.vivi.activity.AddEventActivity" />
        <activity android:name="com.myproject.vivi.activity.AddClockActivity" />
        <activity android:name="com.myproject.vivi.activity.LookActivity" />
        <activity android:name="com.myproject.vivi.activity.EditActivity" />
        <activity
            android:name="com.myproject.vivi.activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.myproject.vivi.activity.Alarm" />

        <receiver android:name="com.myproject.vivi.activity.AlarmReceiver" />

        <service android:name="com.myproject.vivi.activity.AlarmService" />
    </application>

</manifest>